<main>
  <section>
    <div class="user-profile">
      <div class="profile-header">
      </div>
      <div class="user-information">
        <div class="user-credentials row">
          <img src="../../assets/images/icons/man.png">
          <h2>FirstName LastName</h2>
          <h2 class="name"></h2>
        </div>
        <div class="user-created row">
          <img src="../../assets/images/icons/watch.png">
          <h2>Created At</h2>
          <h2 class="created_at"></h2>
        </div>
        <div class="user-location row">
          <img src="../../assets/images/icons/spot.png">
          <h2>Location</h2>
          <h2 class="location"></h2>
        </div>
        <div class="user-company row">
          <img src="../../assets/images/icons/case.png">
          <h2>Company</h2>
          <h2 class="company"></h2>
        </div>
        <div class="user-email row">
          <img src="../../assets/images/icons/email.png">
          <h2>Email</h2>
          <h2 class="email"></h2>
        </div>

      </div>
      <div class="repo-section">
        <h2>Repos</h2>
        <div class="repo-list"></div>
      </div>
    </div>
  </section>
</main>
